<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="http://localhost:8888/ordbild/public/assets/css/bootstrap.css">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>